html, body{
	height:100%;
	width:100%;
	padding:0;
	margin:0;
}
#wrapper{
	position:relative;
	min-height:100%;
}
#head{
	padding:20px;
	text-align:center;
	font-size:18pt;
	color:rgb(75, 132, 193);
}
#body{
	padding-bottom:40px;
}
#footer{
	text-align:center;
	font-size:10pt;

	width:100%;
	position:absolute;
	bottom:0px;
	padding:20px;
}

#standard{
	padding-top:30px;
	width:980px;
	margin:auto;
}